
caption {
    caption-side: top;
    text-align: center;
    font-weight: bold;
}

th, td {
    padding: 4px;
}

th {
    text-align: center;
}

th.level0  {
    text-align: right;
}

td {
    text-align: center;
}